@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-primary: 131 148 150;
    --color-text-secondary: 147 161 161;
    --color-bg-primary: 238 232 213;
    --color-bg-secondary: 253 246 227;
    --color-foreground: 101 123 131;
    --color-separator: 88 110 117;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-primary: 210 210 210;
      --color-text-secondary: 101 123 131;
      --color-bg-primary: 22 24 25;
      --color-bg-secondary: 35 39 46;
      --color-foreground: 238 232 213;
      --color-separator: 131 148 150;
    }
  }
}
