@font-face {
    font-family: 'LXGWBright';
    src: url('/fonts/LXGWBright-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('/fonts/Verdana.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-mixed {
  font-family: 'JetBrainsMono', 'LXGWBright';
}

.font-normal {
  font-family: 'Verdana';
}

.link-icon {
  @apply text-lg;
}

.block-wrap {
  @apply flex flex-col justify-center w-full h-full;
}

.block-title {
  font-family: 'Merriweather';
  @apply before:content-['#'];
  @apply hover:underline;
  @apply flex-row justify-between items-end;
  @apply text-4xl font-semibold;
  @apply mb-10;
}

.block-subtitle {
  font-family: 'Merriweather';
  @apply flex flex-row justify-between items-end;
  @apply text-2xl font-semibold;
  @apply mb-3 mt-5;
}

.block-body {
  @apply text-primary font-thin;
  font-family: 'Merriweather';
}

.block-bottom {
  @apply text-primary py-10;
  font-family: 'Merriweather';
}

.block-body-list {
  @apply space-y-4 md:space-y-3;
}

.block-body-item {
  @apply flex flex-row flex-wrap items-center space-x-2
}

.block-content {
  @apply flex flex-col self-center w-10/12;
  @apply text-primary;

  @media (min-width: 768px) {
    width: 48rem;
  }
}

a {
  @apply text-inherit font-normal;
  @apply hover:opacity-50 hover:font-normal;
  @apply hover:underline hover:decoration-1 hover:underline-offset-2;
}
